:root {
    --primary: #6366f1;
    --bg-dark: #0f172a;
    --card-bg: #1e293b;
    --text-main: #f8fafc;
    --text-dim: #94a3b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', system-ui, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-main);
    display: flex;
    height: 100vh;
    line-height: 1.6;

}

img {
    width: 43px;
    border-radius: 50%;
}

nav {
    width: 320px;
    background: rgba(30, 41, 59, 0.7);
    backdrop-filter: blur(10px);
    border-right: 1px solid #334155;
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow-y: auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-main);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    background: transparent;
    border: 1px solid transparent;
    color: var(--text-dim);
    padding: 12px 16px;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.95rem;
}

button:hover {
    background: rgba(99, 102, 241, 0.1);
    color: var(--primary);
    border-color: rgba(99, 102, 241, 0.2);
}

button.active {
    background: var(--primary);
    color: white;
}


main {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: radial-gradient(circle at top right, #0f172a, #020617);
}

.header-info {
    margin-bottom: 10px;
}

.header-info h1 {
    margin: 0;
    font-size: 1.8rem;
}

.header-info p {
    color: var(--text-dim);
    margin: 5px 0;
}

.terminal {
    background: #22272E;
    border-radius: 12px;
    padding: 25px;
    flex: 1;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
    border: 1px solid #334155;
    overflow-y: auto;
}

#output {
    margin-top: 20px;
    color: #d1d5db;
    line-height: 1.8;
    font-size: 1.1rem;
}

.highlight {
    color: orange;
    font-weight: bold;
}

select {
    background: #1e293b;
    color: white;
    padding: 8px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    margin-top: 10px;
    width: 200px;
}

.output {
    padding-bottom: 20px;
    border-bottom: 1px solid #7793baad;
}

.yellow {
    color: rgba(255, 255, 0, 0.912);
    font-weight: 600;
}

.color {
    color: rgba(200, 200, 34, 0.905);
    font-weight: 550;
}

.first {
    color: #475569;
    margin-bottom: 10px;
}

.even{
    color: #F47067;
    font-weight: 550;
}

.odd{
    color: #6CB6FF;
    font-weight: 550;
}

.series{
    color: #DCBDFB;
    font-weight: 550;
}

@media only screen and (max-width:480px) {
    main {
        padding: 25px 18px;
        gap: 18px;
    }

    nav {
        padding: 14px;
        width: 135px;
    }

    nav .logo p {
        font-size: 11px;
    }

    nav .nav-group button {
        font-size: 9px;
        padding: 12px 5px;
        width: 100px;
    }

    img {
        width: 30px;
    }

    main .header-info h1 {
        font-size: 13px;
    }

    main .header-info p {
        font-size: 9px;
        margin-top: 10px;
    }

    .terminal {
        padding: 17px;
        font-size: 10px;
        border-radius: 7px;
    }

    .output {
        font-size: 8px;
        padding-bottom: 10px;
        display: none;
    }

    #output {
        font-size: 9.5px;
    }

    .highlight,
    .yellow {
        font-weight: 500;
    }

    .first {
        color: #9ba5b4;
        border-bottom: 1px solid #7793baad;
        margin: 0;
        padding-bottom: 10px;
    }

    select {
        width: 90px;
        font-size: 10px;
    }
}